<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipeObj.name }}</h4>
    <p class="list-group-item-text">{{ recipeObj.description }}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="recipeObj.imagePath"
      alt="{{ recipeObj.name }}"
      class="img-responsive"
      style="max-height: 50px;">
  </span>
</a>
