<!-- My non-efficient way -->
<!-- <app-header (reciepeNavigate)="onRecipeNavigated()" (shoppingNavigate)="onShoppingNavigated()"></app-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- My non-efficient way
      <app-recipe *ngIf="displayPage === 'recipe'"></app-recipe>
      <app-shopping-list *ngIf="displayPage === 'shopping'"></app-shopping-list> -->
    </div>
  </div>
</div>

